  body {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 30px;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #f8f9fa;
  }

  table {
    background-color: #121212;
  }

  th {
    background-color: #1f1f1f;
    color: #fff;
  }

  td {
    color: #e0e0e0;
  }

  em {
    color: #b0c4de;
    font-weight: 500;
  }

  p {
    border-bottom: 2px solid rgba(136, 136, 136, 25%);
  }